<div class="container">
  <!-- <header class="jumbotron">
    <p>{{ content }}</p>
  </header> -->
  <h3 class=" text-center"></h3>
  <div class="alert alert-warning" *ngIf="!isLoggedIn">
    S'ha d'iniciar sessió
  </div>
  <div class="messaging" *ngIf="isLoggedIn">
    <div class="inbox_msg">
      <div class="inbox_people">
        <div class="headind_srch">
          <div class="recent_heading">
            <h4>Xats</h4>
          </div>
          <div class="srch_bar">
            <div class="stylish-input-group">
              <input type="text" class="search-bar"  placeholder="Afegir usuari" [(ngModel)]="addUsername" (keyup.enter)="addUser()">
              <span class="input-group-addon">
              <button type="button" (click)="addUser()"> <i class="fa fa-plus" aria-hidden="true"></i> </button>
              </span> </div>
          </div>
        </div>
        <div class="inbox_chat">
          <!-- <table name="chatSel" [(ngModel)]="selected" (ngModelChange)="onChange($event)"> -->
          <!-- <table name="chatSel"> -->
          <!-- <table mat-table [dataSource]="chats"> -->
            <div class="chat_list" *ngFor="let chat of chats" (click)="selMsg(chat)" [ngClass]="{ 'active_chat': chat.selected}">
            <!-- <tr mat-row class="chat_list"> -->
              <div class="chat_people" >
                <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png"> </div>
                <div class="chat_ib">
                  <h5>{{ chat.c.user1 }} <span class="chat_date">{{ chat.c.lastDate }}</span></h5>
                  <p>{{ chat.c.lastMsg }}</p>
                </div>
              </div>
            </div>
            <!-- <div class="chat_list">
              <div class="chat_people">
                <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                <div class="chat_ib">
                  <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                  <p>Test, which is a new approach to have all solutions 
                    astrology under one roof.</p>
                </div>
              </div>
            </div> -->
            <!-- <div class="chat_list">
              <div class="chat_people">
                <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                <div class="chat_ib">
                  <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                  <p>Test, which is a new approach to have all solutions 
                    astrology under one roof.</p>
                </div>
              </div>
            </div> -->
          <!-- </table> -->
        </div>
      </div>
      <div class="mesgs">
        <div class="msg_history">
          <div *ngFor="let msg of msgs">
            <!-- <div class="incoming_msg"> -->
            <div class="incoming_msg" *ngIf="msg.isIncoming">
              <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png"> </div>
              <div class="received_msg">
                <div class="received_withd_msg">
                  <p>{{ msg.m.text }}</p>
                  <span class="time_date"> {{ msg.m.data }} | {{ msg.m.hora }}</span></div>
              </div>
            </div>
            <!-- <div class="outgoing_msg"> -->
            <div class="outgoing_msg" *ngIf="!msg.isIncoming">
              <div class="sent_msg">
                <p>{{ msg.m.text }}</p>
                <span class="time_date"> {{ msg.m.data }} | {{ msg.m.hora }}</span> </div>
            </div> 
          </div>    
        </div>
        <div *ngIf="errorChat" class="alert alert-danger" role="alert">
          Msg Send failed: {{ errorMsg }}
        </div>
        <div class="type_msg">
          <div class="input_msg_write">
            <input type="text" class="write_msg" placeholder="Missatge" [(ngModel)]="msg" (keyup.enter)="sendMsg()"/>
            <button class="msg_send_btn"  (click)="sendMsg()"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>